.confirmation-bg {
  background: white;
}

.confirmation-card {
  max-width: 380px;
  border-radius: 14px;
  background: #141414;
  border: 1px solid #00ff88;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.4);
}

.success-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  background: #00ff88;
  color: #000;
  font-size: 34px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px #00ff88;
}

.success-title {
  color: #00ff88;
}

.details-box {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 8px;
  font-size: 0.85rem;
  color: #ddd;
  border: 1px solid #00ff88;
}

.confirm-btn {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  border-radius: 8px;
  transition: 0.3s ease;
}

.confirm-btn:hover {
  background: #00ff88;
  color: #000;
  box-shadow: 0 0 12px #00ff88;
}
