body {
  background: white;
  font-family: "Poppins", sans-serif;
}

.login-container {
  min-height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 420px;
  background-color: #24243e;
  border-radius: 12px;
  padding: 30px;
  color: white;
  box-shadow: 0 0 20px rgba(255, 39, 112, 0.4);
}

.login-title {
  font-weight: 600;
  color: #ff2770;
}

/* Labels */
.form-label {
  font-weight: 500;
  margin-bottom: 5px;
}

/* Input Styling */
.custom-input {
  background: transparent;
  border: 1px solid #555;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  transition: 0.3s;
}

/* Placeholder */
.custom-input::placeholder {
  color: #bbb;
  font-size: 14px;
}

/* Focus Effect */
.custom-input:focus {
  border-color: #ff2770;
  box-shadow: 0 0 8px #ff2770;
  background: transparent;
  color: #fff;
}

/* Button */
.login-btn {
  background-color: green;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #800000;
  box-shadow: 0 0 15px blue;
}

/* Links */
.forgot-link,
.register-link {
  color: #ff2770;
  text-decoration: none;
  font-weight: 500;
}

.forgot-link:hover,
.register-link:hover {
  text-decoration: underline;
}

/* Checkbox */
.form-check-input:checked {
  background-color: #ff2770;
  border-color: #ff2770;
}
