/* Background */
.payment-bg {
  background: white;
}

/* Card */
.payment-card {
  max-width: 380px;
  border-radius: 14px;
  background: #141414;
  border: 1px solid #00ff88;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.4);
  overflow: hidden;
}

/* Header */
.payment-card .card-header {
  background: #111;
  color: #00ff88;
  border-bottom: 1px solid #00ff88;
}

/* Labels */
.payment-card .form-label {
  color: #00ff88;
  font-size: 0.85rem;
}

/* Inputs */
.payment-card .form-control {
  background: white;
  border: 1px solid #00ff88;
  color:black;
  border-radius: 8px;
}

.payment-card .form-control:focus {
  box-shadow: 0 0 8px #00ff88;
  border-color: #00ff88;
}

/* Invalid */
.payment-card .is-invalid {
  border-color: #ff004f !important;
  box-shadow: 0 0 6px #ff004f !important;
}

.payment-card .invalid-feedback {
  color: #ff004f;
  font-size: 0.75rem;
}

/* Button */
.payment-btn {
  background: transparent;
  border: 1px solid #5d00ff;
  color: #00ff88;
  border-radius: 8px;
  transition: 0.3s ease;
}

.payment-btn:hover {
  background: #00ff88;
  color: white;
  box-shadow: 0 0 12px #00ff88;
}

/* Secure text */
.secure-text {
  color: #aaa;
}
