body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 420px;
  padding: 30px;
  background: #111;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0, 247, 255, 0.2);
  color: white;
}

.register-card h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background: #2c2c2c;
  color: #f1f1f1;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #00f7ff;
  box-shadow: 0 0 8px #00f7ff;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
}

.password-wrapper span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #00f7ff;
}

.register-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #00f7ff;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px #00f7ff;
}

.register-btn:hover {
  background: #00c3cc;
  box-shadow: 0 0 20px #00f7ff;
  transform: translateY(-2px);
}

.error-box {
  background: #330000;
  color: #ff4d4d;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
  text-align: center;
}
.register-container {
  background: linear-gradient(rgba(0, 100, 0, 0.3), rgba(0, 100, 0, 0.3)),
    url("../assets/masenopic.jpeg") center/cover no-repeat;
    animation: fadeIn 1s ease-in-out;
     min-height: 100vh; /* Ensures full screen height */
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  padding: 40px 15px; /* Adds breathing room */
  box-sizing: border-box;
}